@import "../../mixin";

#home {
  @include tablet {
    .profile {
      order: 1;
    }
    .skill {
      order: 2;
    }
    .travel {
      order: 3;
    }
    .timeline {
      order: 4;
    }
    .other {
      order: 5;
    }
  }
}
