.achievement {
  background-color: #00E676;
  box-shadow: -2px 2px 13px rgba(#000,.39);
  border-radius: 4px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
  h4 {
    padding-top: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(#000,.29);
    width: 100%;
    font-size: 22px;
    color: #795548;
  }
}
