@import "../mixin";

.contained {
  margin-left: 15%;
  margin-right: 15%;
  @include tablet {
    margin-left: 20%;
    margin-right: 20%;
  }
}

.col {
  display: flex;
  width: 100%;
  @include tablet {
    display: block;
  }
  &- {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
  }
  &-40 {
    @extend .col-;
    width: 40%;
    @include tablet {
      width: 100%;
    }
  }
  &-60 {
    @extend .col-;
    width: 60%;
    @include tablet {
      width: 100%;
    }
  }
  &-80 {
    @extend .col-;
    width: 80%;
    @include tablet {
      width: 100%;
    }
    &-centered {
      @extend .col-80;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &-100 {
    @extend .col-;
    width: 100%;
  }
}
